[2014-09-10 16:27] ghost opened #5 "Does not support MSBuild 12"
MSBuild is now part of Visual Studio: http://blogs.msdn.com/b/visualstudio/archive/2013/07/24/msbuild-is-now-part-of-visual-studio.aspx

The finder should now look in
on 32bit OS C:\Program Files\MSBuild\12.0\Bin\
on 64bit OS C:\Program Files (x86)\MSBuild\12.0\Bin\

In my case, it's not working and throws missing targets.

[2014-09-11 16:59] #5 closed, assigned to hoffi

[2015-01-27 13:48] royduin opened #8 "Task finished before build is complete?"
Hi,

When I run a job with gulp-msbuild, the task is finished before the build is complete:

[14:41:19] Starting 'build'...
[14:41:19] Finished 'build' after 6.97 ms
[14:41:31] Build complete!

I'd like to run a task after the build is finished, how can I do this?

[2015-01-29 09:49] Estyn commented on #8
I'm having the same problem, i see that there was some pull requests in the past to fix this issue, is there anything special that we need to do to run a task after the build completes?

[2015-01-29 18:33] sirlancelot commented on #8
Are you using version `0.2.5`?

[2015-01-29 19:46] Estyn commented on #8
I am using 0.2.5.

[2015-01-30 08:07] royduin commented on #8
Yes, I'm using 0.2.5 too. @sirlancelot, can you give us an example how to fire an event after de build is finished?

[2015-01-30 11:03] hoffi commented on #8
Hm, actually i'm not sure how this can be...

[2015-01-30 17:13] sirlancelot commented on #8
You probably need to tell Gulp what the task is doing by returning the stream. Gulp will then wait to complete the task until the stream completes.

[Running tasks in series](https://github.com/gulpjs/gulp/blob/master/docs/recipes/running-tasks-in-series.md)

    gulp.task("msbuild", function() {
        return gulp.src("project.sln")
            .pipe(msbuild());
    });

[2015-01-30 18:10] royduin commented on #8
I'll try it next week at work! Thanks!

[2015-01-30 22:38] Estyn commented on #8
In my case it looks like the problem was something do do with my solution and custom build actions.  On a simple test project everything is working as expected, thanks for the nice plugin.

[2015-02-02 21:09] hoffi commented on #8
@Estyn, @royduin does it work now?

[2015-02-02 21:14] royduin commented on #8
I'll try it tomorrow, my work week starts at Tuesday.

[2015-02-02 21:55] Estyn commented on #8
It is working for me

[2015-02-03 08:35] royduin commented on #8
I forgot the `return`, now it's working perfectly! Thanks!

[2015-02-03 08:35] #8 closed

[2015-02-03 08:43] hoffi commented on #8
Good to hear :)

[2015-02-04 18:52] LodewijkSioen opened #10 "Incorrect architecture check (x86|x64)"
It's not you, it's [node](https://github.com/joyent/node/issues/2862).

Long story short: ```os.arch``` doesn't report the architecture of the processor, but the architecture node runs in. So if you're running node for x86 on an x64 system, ```os.arch``` will report ia32. This was the case for my (appveyor)[http://www.appveyor.com] build.

You can fix this by not using ```os.arch```, but by checki

[2015-02-04 20:05] hoffi commented on #10
Hm interesting thing.

I will use this to check for 64bit Windows:
`process.env.hasOwnProperty('ProgramFiles(x86)')`

[2015-02-04 20:17] #10 closed

[2015-02-04 20:24] hoffi commented on #10
Thanks for this @LodewijkSioen :)
I have released a new version with the fix

[2015-02-05 07:33] LodewijkSioen commented on #10
Updated, removed the hardcoded path to MsBuild, ran it trough AppVeyor and the build went green. That was quick!

:raised_hands:

[2015-02-05 08:13] hoffi commented on #10
Great :)

[2015-03-01 02:46] redwards1966 opened #13 "Adding msbuild logging parameter"
Hi, just starting to use the tool but would love a couple things added if possible.

1. Support for build logging, turning on the log and optionally setting the name ie) /flp:logfile=MyProjectOutput.log
2. An option to show the actual msbuild command that will be executed (for debugging purposes)

[2015-03-02 18:23] hoffi commented on #13
Hey @redwards1966
i have just created a new Version.
It is now including the options: `fileLoggerParameters`, `consoleLoggerParameters` and `logCommand` :)

[2015-03-03 15:17] redwards1966 commented on #13
Thanks, I'm going to try it out today and provide any feedback.

[2015-03-03 16:25] redwards1966 commented on #13
Works great thanks. I have another idea, I'll open on another issue.

[2015-03-03 16:25] #13 closed

[2015-03-03 16:34] redwards1966 opened #14 "Idea: Providing the assemblies built by the solution as gulp output stream"
I know this is possible using an MSBuild targets file but not sure if you can get this from the msbuild exe or not somehow.

In my existing targets file (the one I'm hoping to eliminate by using gulp) I have the following for my build task:

	<Target Name="Build">
		<Message Text="Building projects ... " />
		<MSBuild Projects="@(ProjectToBuild)" Targets="Build" Properties='DefineConstants=DINVERS

[2015-03-03 17:31] hoffi commented on #14
Hm im not sure, but i think it is not possible, as i don't know how to figure out, where the built assemblies are saved, as you still can specify a non-default Output-Path in the Project file for example.

But maybe this helps you:
You can specify a different Output-Path with a custom property (e.g. `/property:OutDir=[TEMP_PATH]`)

[2015-03-04 15:23] redwards1966 commented on #14
Yeah, I ended up using properties: { OutputPath: config.binPath } and that
threw everything into the path I needed.
Thanks again!

On Tue, Mar 3, 2015 at 12:31 PM, Stefan Hoffmann <notifications@github.com>
wrote:

--
Regards,

Richard

[2015-03-04 19:58] hoffi commented on #14
No problem :)

[2015-03-04 19:58] #14 closed

[2015-05-08 22:32] gregbty opened #16 "XBuild error"
Using the code below, I receive the following error:

[code]

[code]

I only see this error on my Mac. I do not have this issue on Windows. Any idea what's the issue?

[2015-05-10 11:34] hoffi commented on #16
Huh..
Could you run again with the option `logCommand: true`.
Looks like the command was generated wrong.

[2015-05-10 21:50] gregbty commented on #16
Here is the command:

"xbuild" "/path-to-sln/name.sln" /target:Clean;Build /verbosity:normal /toolsversion:4.0 /nologo /maxcpucount /property:Configuration="Development"

[2015-05-12 12:39] hoffi commented on #16
Hm looks like the semicolon of the targets is a problem.

Can you try these:
* Use only one Target for example: `targets: ["Rebuild"]`
* Execute the command manually but wrap the targets in double quotes:
  * `xbuild "/path-to-sln/name.sln" /target:"Clean;Build" /verbosity:normal /toolsversion:4.0 /nologo /maxcpucount /property:Configuration="Development" `

Work both?

[2015-05-12 15:18] gregbty commented on #16
I think both of those "work", however not I am getting the "MSBUILD0004: Too many project files specified". Have you seen that error before?

[2015-05-12 18:37] hoffi commented on #16
Okay thanks, i will fix this.
For the error: Never heard of such an error and im also not sure what this means... Looks like a problem in the `.sln` file.

[2015-05-12 19:54] #16 closed

[2015-05-12 19:55] hoffi commented on #16
The quote problem is solved.

[2015-05-13 00:13] gregbty commented on #16
Looks like it broke the Windows msbuild system.

[code]

[2015-05-14 05:18] narcotics726 opened #17 "build arguments "/target: target" is broken by the latest fix"
the latest commit [d9b41af693b4cae7ed78004ce56f0579f6d760b0](https://github.com/hoffi/gulp-msbuild/commit/d9b41af693b4cae7ed78004ce56f0579f6d760b0) broke msbuild

error: `The target "Clean;Build" does exist in project.`

before v0.2.10, the command was: `msbuild "targetProjectPath" /target:Clean;Build ...`
after: `msbuild "targetProjectPath" /target:"Clean;Build" ...`

the quotes around `targets`

[2015-05-14 12:40] bapti commented on #17
I can confirm this is also the case with my builds

[2015-05-14 12:44] bapti commented on #17
for a quick workaround you can change your task to this

[code]

[2015-05-15 16:04] hoffi commented on #17
Hey, sorry for this. v0.2.11 should fix this.
Thanks to @dfal #19

[2015-05-15 16:09] hoffi commented on #16
Should work again with latest version

[2015-05-18 07:32] narcotics726 commented on #17
All systems go!

Thanks for the rapid response. Love you guys.

[2015-05-18 07:32] #17 closed

[2015-06-09 09:07] davidbarrows opened #20 "gulp-msbuild does not appear to be calling MSBUILD (possible setup issue on my part?)"
Hello,

I inherited a project which uses gulp-msbuild, and I can't seem to get it to work.  The gulp task runs, but it doesn't seem to be actually calling MSBUILD.  I suspect it is a path problem or something.  My gulpfile is in a subdirectory one level down from my Visual Studio solution file, which contains my MSBUILD tasks.  The gulp task looks like this:

gulp.task('msbuild', function (cb) {

[2015-06-09 13:47] hoffi commented on #20
Hello @davidbarrows

`gulp-msbuild` is just a wrapper that calls the MSBUILD-Executable internally.
You can see the complete command that will be executed by `gulp-msbuild` when you specify the [logCommand-Option to gulp-msbuild](https://github.com/hoffi/gulp-msbuild#logcommand) this way:
[code]

Maybe this points out the problem.

About that path thing i'm not sure if i can follow you. What i und

[2015-06-09 14:02] davidbarrows commented on #20
Hi Stefan, thanks very much for this additional information.  This may help me debug the problem.  I appreciate it.

Best regards,
Dave

[2015-06-10 16:12] hoffi commented on #20
Hey @davidbarrows,

did it worked?

[2015-06-10 16:27] davidbarrows commented on #20
Hi Stefan, I haven't had a chance to do it yet, sorry... then I go on
holiday next week for a few days.  So it will be a little while before I
can give you an answer.  But it is a priority for me to get it to work so
as soon as I have time to work on it further I will get you some more
information.

Many thanks
Dave

On Wed, Jun 10, 2015 at 5:12 PM, Stefan Hoffmann <notifications@github.com>
wrote

[2015-06-10 16:29] hoffi commented on #20
No stress :)

[2015-06-15 20:53] derekgreer opened #21 "Allow multiple instances to run concurrently"
Currently, kicking off two tasks that use msbuild can cause the options of the last invocation to affect the first because the global options are modified.  Please change the code to use a new extended copy of options with each invocation.

[2015-06-16 16:33] hoffi commented on #21
Hi @derekgreer, im not sure what you mean, can you show a example code of what you are doing?

[2015-06-16 17:21] #21 closed

[2015-06-16 17:22] hoffi commented on #21
Nevermind, could reproduce it now.
Should be fixed with `gulp-msbuild@0.2.12`

[2015-06-18 08:10] hoffi commented on #21
Ping @derekgreer

[2015-06-18 11:27] derekgreer commented on #21
Thanks for the fix.

[2015-06-19 11:02] davidbarrows commented on #20
Hi Stefan, I'm back from holiday; I tried the "logCommand" option as you
suggested and I can see the MSBUILD command that the gulp-msbuild plug-in
appears to be executing.  When I execute that same command manually from
the command line, I get a lot of output from MSBUILD; but when the plug-in
runs the command, it does not produce that MSBUILD output.  Is there a way
to get the execution to return

[2015-06-19 13:25] davidbarrows commented on #20
Actually never mind, I figured it out (using the "stdout" option).  So,
it's all working; my problem was the path was incorrect.  (User error!)

thanks for getting back to me

Best regards,
Dave Barrows

On Fri, Jun 19, 2015 at 12:02 PM, David Barrows <david.w.barrows@gmail.com>
wrote:

[2015-06-19 14:19] hoffi commented on #20
No problem

[2015-06-19 14:19] #20 closed

[2015-08-05 16:33] marshall007 opened #22 "xbuild does not support the `/maxcpucount` switch"
If you try to run `xbuild` with the `/maxcpucount` switch, the following error is thrown:

[code]

We need to make sure this switch doesn't get included in the command line arguments when using `xbuild`.

[2015-08-06 07:56] hoffi commented on #22
As a workaround you can specify `maxcpucount: -1`. Then the switch will not be added to the command.

[2015-08-06 17:21] marshall007 commented on #22
@hoffi thanks for the workaround, just submitted a PR.

[2015-08-06 17:55] #22 closed

[2015-08-06 17:57] hoffi commented on #22
@marshall007 thanks, merged the PR and published a new version.

[2015-09-15 17:57] redwards1966 opened #24 "Xbuild on iOS, weird error"
[code]

I'm getting this error after the build successfully runs through the gulp task. It's almost like there is extra commands in the stream after the build task runs and they are trying to execute. If I copy/paste that command into a command window and run it I get the same thing.

Here is my gulp task:

<pre>
gulp.task('build-ios', function() {
    return gulp
        .src('Marsh.Social.sln')

[2015-11-12 08:48] madebits opened #25 "does not work with {read: false}"
Hi,

In index.js you have the following code:

var stream = through.obj(function(file, enc, callback) {
    var self = this;
    if (file.isNull()) {
      self.push(file);
      return callback();
    }

you check whether the file.isNull(), which checks whether file.contents is read. For the rest of the code you only need file.path however.

The means, this lib works if gulp.src('*.sln') is calle

[2015-11-21 19:09] #25 closed

[2015-11-21 19:10] hoffi commented on #25
Hi,

thanks you are right. This check is not needed. I have changed it and published a new version.

[2015-11-23 12:46] dashkodo opened #26 "0.2.14 version from NPM repo is not working"
0.2.13 is working fine

[2015-11-23 12:54] migue-pki commented on #26
Same here, reverting back to 0.2.13 fixed our problem. My environment is Win7 x64, node 0.12.4, gulp 3.9.0.

[2015-11-23 13:04] Pondidum commented on #26
I also get this issue.
All I can figure out is that nothing seems to happen at all.

https://github.com/hoffi/gulp-msbuild/blob/master/index.js#L18 Gets run
https://github.com/hoffi/gulp-msbuild/blob/master/index.js#L23 Never seems to get invoked.

Reverting back to 0.2.13 fixes the issue also.

[2015-11-23 17:05] #26 closed

[2015-12-08 11:25] bsjaffer opened #27 "publish"
Is there a way to publish using publish profile?

[2015-12-08 13:34] hoffi commented on #27
I haven't tested this, as i don't use it, but according to this [article](http://www.asp.net/mvc/overview/deployment/visual-studio-web-deployment/command-line-deployment) you need to specify two properties: `/p:DeployOnBuild=true /p:PublishProfile=Profile`

You can specify any properties in gulp-msbuild. For example:
[code]

Does this help you?

[2016-01-13 17:25] BryanPhelps opened #30 "Option to suppress 'maxcpucount' output"
It'd be great to have an option to suppress the logging of the 'maxcpucount' option.

In the code here:
  // xbuild does not support the `maxcpucount` argument and throws if provided
  if (options.maxcpucount >= 0 && options.msbuildPath !== 'xbuild') {
    if (options.maxcpucount === 0) {
      gutil.log(gutil.colors.cyan('Using automatic maxcpucount'));
      args.push('/maxcpucount');
    } else

[2016-01-21 20:58] hoffi commented on #30
Hi thanks! I removed logging of the `maxcpucount` completely, as i don't see any reason to do this.

[2016-01-21 20:58] #30 closed

[2016-01-21 21:01] #27 closed

[2016-01-21 21:03] BryanPhelps commented on #30
Awesome! Thanks!

[2016-01-21 21:09] hoffi commented on #24
Hey, i have tried the command and it looks like the problem is in the `fileLoggerParameters`.
After i put quotes around it it worked. Can you try it again with the latest version (0.2.19) ?

[2016-01-22 01:24] redwards1966 commented on #24
@hoffi Thanks for the update. I tested against the latest version and it works fine now. I guess at some point I ended up putting those double quotes in myself to get it running and forgot to update the issue. Thanks for following through on this issue. Cheers!

[2016-01-22 01:24] #24 closed

[2016-03-29 17:36] demisx opened #36 "MSBuild task fails when running remotely via ssh"
Hi.  I have the following gulp msbuild task:

[code]

When I run this task remotely via ssh, I keep getting this error (see below). The task runs fine when I run it on the server directly via RDP, though. Any idea what can be causing this error and how to fix it? Thank you very much.

[code]

I've also found a `MSBuild***.failure.txt` file in my home directory with this:
[code]

[2016-03-29 19:44] hoffi commented on #36
Hi,

i think this is a problem with your ssh connection. Looks like your connection is closed while building for whatever reasons.
Maybe it helps when you enable Keep-Alive in your SSH-Config? Like:
[code]

[2016-03-29 21:19] demisx commented on #36
Thank you for the quick reply. Tried your suggestion just in case, but still the same error. Also, don't think it applies, since I am actually ssh'ing to a Windows 2008 R2 server first (runs OpenSSH server) and only then run the build task, e.g.:

[code]

The SSH connection stays on all this time. Just get that error when running the gulp task itself. No disconnects or any other suspicious message

[2016-03-30 17:09] hoffi commented on #36
Hm does it help when you disable `stderr` output: `stderr: false`?

However im still unsure that this is a problem with gulp. You could try to run MSBuild manually on the server by executing the logged msbuild command:
[code]

If it still fails with the same error i would say msbuild does not play nicely with ssh.

[2016-04-02 01:53] demisx commented on #36
I agree. The shell given by openssh from MLS Software is some sort of stripped down crappy light version of cygwin. I've switched to the latest cygwin package instead and everything works fine now. Thank you for your help!

[2016-04-02 01:53] #36 closed

[2016-04-05 06:24] Shuliyey opened #37 "Does this work for .Net Framework 4.6 version"
I don't seem to be able to find the VisualStudioVersion property option for the gulp-msbuild

Basicly my visual studio project is using .Net Framework 4.6, so the old msbuild.exe won't work. I have to use the new msbuild that's located at 'C:\Program Files (x86)\MSBUILD\14.0\Bin\MSBuild.exe'

By using this msbuild tool I can build my project successfully

[code]

However I don't seem to be able to

[2016-04-05 06:29] Shuliyey commented on #37
I believe the problem is here at

[code]

[2016-04-05 07:06] hoffi commented on #37
Hm shouldn't it help to pass the correct `toolsVersion` and `VisualStudioVersion`-Property to gulp-msbuild? Like:

[code]

This should use the MSBuild executable at `C:\Program Files (x86)\MSBuild\14.0\Bin\MSBuild.exe`

[2016-04-05 07:11] Shuliyey commented on #37
aah I see i will try again the architecture to be x86

I confused this with TargetdPlatform property :sweat:

[2016-04-05 07:16] Shuliyey commented on #37
@hoffi  it worked :smile:  thank you so much, this is embarassing, it was my bad i confused architecture option with the Platform property.

Thanks a lot :smile:

[2016-04-05 07:16] Shuliyey commented on #37
closing this issue, my mistake using the library

[2016-04-05 07:17] #37 closed

[2016-04-05 07:25] Shuliyey commented on #37
Just adding one note

I have to specify the VisualStudioVersion as a string :smile:

so it will be something like this

gulp_msbuild({
  toolsVersion: 14.0,
  properties: { VisualStudioVersion: '14.0' },
  targets: ["Build"]
});

[2016-04-05 07:27] hoffi commented on #37
No problem :)

[2016-07-08 15:28] AndreyBelym opened #40 "Task with 'gulp-msbuild' finishes prematurely when working with multiple project files"
Hello! I have the following code in my `Gulpfile.js`:
[code]

There is some (about 5) `*.proj` files in subdirectories of 'src/natives/'. When I use `gulp`, it shows that `msbuild` finish the `build-win-executables` task just after the first file was processed:
[code]

I'm not an expert in `gulp` :smile: , but I've found that emitting the `'end'` of the stream [here](https://github.com/hoffi/gulp-

[2016-07-12 08:34] hoffi commented on #40
Hm maybe this is a leftover from an older gulp version. I will look into it. Thanks for hinting! :smiley:

[2016-09-04 15:53] hoffi commented on #40
Fixed with #38

[2016-09-04 15:53] #40 closed

[2016-10-03 19:50] sethkane opened #41 "spawn xbuild ENOENT (Gulp on a Mac)"
I just installed gulp-msbuild in my Gulp project on my Mac.
I have a Window 7 VM running IIS and Visual Studio 2015
My code is hosted on my Mac

Normally I log into my VM and do a build via VS15 or MSBuild from the command line. I am trying to setup a system where I never have to log into the VM and I think gulp-msbuild is my solution.

Here is my gulp code, below is my error.

GULP
[code]

ERROR

[2016-10-05 11:33] hoffi commented on #41
`spawn xbuild ENOENT` looks like the XBuild-Executable could not be found.
Make sure you have installed [Mono](http://www.mono-project.com/) on your Mac and the XBuild-Executable is available (you can check this using `$ which xbuild`)

[2016-10-05 15:46] sethkane commented on #41
Looking into it, I will keep you posted.  Thanks!

[2016-10-05 16:06] sethkane commented on #41
Good and Bad news.  Good news is that installing Mono helps!  Bad new is now I get an error that looks like this:

`[11:03:47] Using MSBuild command: xbuild /Users/sethk/Documents/workspace/ascension-sitecore /target:Rebuild /verbosity:normal /toolsversion:4.0 /nologo /property:Configuration=Release
[11:03:47] MSBuild failed with code 1!`

[2016-10-05 16:20] sethkane commented on #41
Update... It works great I had the wrong path to my .sln file.

[2016-10-05 16:20] #41 closed

[2016-10-05 16:21] hoffi commented on #41
Nice to hear 👍  :)

[2016-10-05 16:36] sethkane commented on #27
@bsjaffer Did you ever get Publish profile to work?

[2016-10-05 16:50] sethkane opened #42 "remove extra msbuild command line attributes"
In relations to issue #27 I am finding that the suggestion provided somewhat works.

When I try run this commend via Gulp

[code]

The log command is:
`xbuild /Users/sethk/Documents/workspace/project/project.sln /target:Build /verbosity:normal /toolsversion:4.0 /nologo /property:Configuration=Debug /property:DeployOnBuild=true /property:PublishProfile=project`

This does not actually publish the c

[2016-10-05 17:08] hoffi commented on #42
Hm in the current version it is not possible to remove the target, verbosity and toolsversion as i assumed they are needed always. You can remove the /nologo argument by setting nologo: true.

Isn't there a "Publish" target or something like that?

[2016-10-05 19:18] sethkane commented on #42
I am narrowing the issue to the LOGO parameter so I tried what you suggested.

[code]

But the commend sent still has the logo
`[14:15:30] Using MSBuild command: xbuild /Users/sethk/Documents/workspace/project/project.sln /target:Rebuild /verbosity:diagnostic /toolsversion:4.0 /nologo /property:Configuration=Debug /property:DeployOnBuild=true /property:PublishProfile=project`

Can you confirm that

[2016-10-05 19:57] hoffi commented on #42
Argh my fault sorry. "nologo: false" of course

[2016-10-05 21:34] sethkane commented on #42
@hoffi Removing the logo helped but now my build is failing due to the toolsVersion.  Any chance we can add a flag to that so it isn't sent via the command?

FYI
When I use toolsVersion: 'auto' I get NaN

`xbuild /Users/sethk/Documents/workspace/project/project.sln /target:Rebuild /verbosity:normal /toolsversion:NaN /property:Configuration=Debug /property:DeployOnBuild=true /property:PublishProfil

[2016-10-08 15:25] hoffi commented on #42
`toolsVersion: "auto"` will now fallback to `4.0` on mac.

I have also added the feature to explicitly pass `undefined` or `null` as toolsVersion to remove them in version 0.4.1, so this:

[code]

should work for you.

Can you confirm?

[2016-10-10 14:06] sethkane commented on #42
That no longer errors my build out.  Thank you!  It still isn't doing the publish part but I will keep diving into it.

Just an an FYI. My build script below does the build but no publish.
[code]

Outputs:
` xbuild /Users/sethk/Documents/workspace/project/project.sln /target:Rebuild /verbosity:normal /property:Configuration=Debug /property:DeployOnBuild=true /property:PublishProfile=project`

When

[2016-10-10 14:08] #42 closed

[2016-10-10 15:36] hoffi commented on #42
No problem.
It could be that Mono doesn't understand this command. Maybe also try with `targets: ['Publish']`. But i have no other ideas.

[2016-10-10 16:05] sethkane commented on #42
Adding the targets results in this "MSBuild failed with code 1!"

[code]

[code]

[2016-11-29 03:46] Niksko opened #43 "Enhancement: add some config validation and help messages"
Hi

It would be great if this tool warned you if you were incorrectly using invalid config values. I just spent multiple days trying to get a web publish to work, only to realise that the syntax for targets is `targets` and not `target`, and that you should be passing an array instead of just a single value.

Instead of silently choosing defaults, perhaps there should be some validation and sugges

[2016-11-29 19:53] hoffi commented on #43
Thanks for the suggestion, i will look into it :)

[2016-11-29 20:36] #43 closed

[2016-11-29 20:38] hoffi commented on #43
I have added a validation for unknown options in version 0.4.2. When a unknown option is found a suggestion is shown what the right command could be.

[2016-11-30 13:45] julienmartin commented on #43
Hi hoffi,

Please, next time, don't do that in a patch release ! It breaks our builds where version was set to "^0.4.0".
It was more permissive before.

Julien

[2016-11-30 14:10] hoffi commented on #43
Hey @julienmartin, what do you mean with "It was more permissive before"?

[2016-11-30 14:23] julienmartin commented on #43
@hoffi We have a wrong parameter (projectConfiguration instead of configuration, like grunt task). Default value of configuration is Release, so no problem before, that was silent and everything worked like a charm.
For a patch release, a warning was maybe more appropriate imo.

[2016-11-30 15:16] hoffi commented on #43
Ah ok i see. Thanks for the hint, i will notice this for the next time. 👍

[2016-12-01 18:06] bbaia commented on #43
+1

[2016-12-12 08:41] vince-geekcore opened #45 "stdout maxbuffer exceeded error"
Hi,

When setting the verbosity of msbuild output to something else then quiet or minimum my build fails most of the time returning a 'stdout maxbuffer exceeded' error because it outputs too much data. Unfortunately i need this data to diagnose any issues or build errors/warnings. Is this something that can/needs to be fixed inside gulp-msbuild? Apparently the default buffer size is used: https://

[2016-12-12 11:26] hoffi commented on #45
Hi,

i don't think it's the same issue because i use `child_process.spawn` instead of `child_process.exec`, [because of this maxbuffer issue](https://www.hacksparrow.com/difference-between-spawn-and-exec-of-node-js-child_process.html).

Do you use the latest version of gulp-msbuild and what configuration do you use?
Does it help when you disable `stdout` and use [file logging](https://github.com/h

[2016-12-12 22:52] vince-geekcore commented on #45
Hi hoffi,

Yes.. somehow i had an older version that didn't get updated. Have not yet encountered this on the latest version. Sorry about that. This can be closed/removed.

[2016-12-12 22:52] #45 closed

[2016-12-12 23:09] hoffi commented on #45
Hi, no problem :)

[2017-01-27 04:31] Niksko opened #46 "Emit published files on web publish"
Hi

Not sure if this is possible, and it's sort of been discussed elsewhere, but would it be possible to emit the published files as a readable stream when you're doing a web publish? This would make this module MUCH more gulp like, because then you could simply call this plugin and pipe it to a destination.

If not (and I realize this is asking a lot), but do you have any idea as to how to wrap t

[2017-02-09 21:18] hoffi commented on #46
I really agree with your point. The problem is that I'm not really familiar with web publish, so any insights about this would help because I don't know if and how I can detect the files that where published.

[2017-02-09 21:21] Niksko commented on #46
I'm slowly getting a little better at using gulp and dealing with streams, so I may be able to provide a PR for this in the future.

A web publish is either performed to a location defined in a .pubxml file, or it is defined as a parameter to msbuild.

Two options immediately spring to mind:

1. We publish to a system defined temporary folder and then emit the files from there.
2. The more elegant

[2017-03-23 16:28] rickj33 opened #51 "SolutionPlatform option not defined in constants."
When using the option solutionPlatform, gulp-msbuild throws an exception stating
Message:
    Unknown option 'solutionPlatform'!

it appears the solutionPlatform is not defined in the constants.default, so it fails the validation check

[2017-03-24 19:20] #51 closed

[2017-03-24 19:24] hoffi commented on #51
Fix is included in version 0.4.6. Thanks for reporting!

[2017-03-27 02:48] shadowmint opened #52 "Default path to msbuild no longer valid after VS2017 install"
After installing VS2017, the path to msbuild seems to have changed, resulting in:

[code]

This seem to be because its falling back to the windows folder because the latest framework version (15), doesn't have an MSBuild.exe under C:\Program Files\MSBuild\15.0:

[code]

This appears to be a new VS2017 issue and frankly after reading the documentation, I'm not actually sure what the correct behavio

[2017-03-27 07:56] hoffi commented on #52
There is a specific handling for VS 2017 [here](https://github.com/hoffi/gulp-msbuild/blob/master/lib/msbuild-finder.js#L68) which was introduced in #47.

When you provide `toolsVersion: 15.0`, it should not look under `C:/Program Files (x86)/MSBuild` anymore.
Maybe this helps?

[2017-03-27 08:03] shadowmint commented on #52
my bad, I've opened this issue on entirely the wrong issue tracker.

Yup, that works for me~

I was using `msbuild` not `gulp-msbuild`, and that doesn't work.

[2017-03-27 08:03] #52 closed

[2017-03-29 15:30] CesarD commented on #52
"auto" option not working correctly with VS2017. I don't think the solution provided here would be the correct one.
If I have people in a team working with mixed versions (ie.: VS2015 & 2017), "auto" should be able to find the correct version for each environment, and now it doesn't. I have to manually specify the specific version on each environment when "auto" should be enough, because right now

[2017-04-02 18:07] hoffi commented on #52
@CesarD thanks, I have released a new version that prefers newer MSBuild-Versions in the auto detection.

[2017-04-04 18:05] CesarD commented on #52
Cool, now it works perfectly! Thank you very much!

[2017-04-07 04:59] arangas opened #53 "VS 2017 Developer Command Prompt finds msbuild 14.0"
Hello,

I'm running gulp-msbuild 0.4.7 which I think was released to fix #52.

Unfortunately I'm still having the same/similar issue:
![image](https://cloud.githubusercontent.com/assets/132198/24786189/99019b86-1b9e-11e7-8651-c0928b0900e3.png)

Happy to help diagnose if you can point me to what I should be checking for.

Thanks!

[2017-04-07 07:21] hoffi commented on #53
gulp-msbuild checks wether one these paths exist:
- C:/Program Files (x86)/Microsoft Visual Studio/2017/BuildTools
- C:/Program Files (x86)/Microsoft Visual Studio/2017/Enterprise
- C:/Program Files (x86)/Microsoft Visual Studio/2017/Professional
- C:/Program Files (x86)/Microsoft Visual Studio/2017/Community

If none of those paths exist, `gulp-msbuild` assumes it is not installed.
Can you check

[2017-04-10 00:09] arangas commented on #53
Here's what's on my machine for all `msbuild.exe` under `Program Files (x86)`:

* C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\amd64
* C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin
* C:\Program Files (x86)\MSBuild\14.0\Bin\amd64
* C:\Program Files (x86)\MSBuild\14.0\Bin

Whether I run the gulp script from a VS2015 dev command pro

[2017-04-11 01:17] arangas commented on #53
I've tried to reproduce this in a clean project on that same machine but cannot, so closing this.

[2017-04-11 01:17] #53 closed

[2017-04-12 11:56] jflsitecore opened #54 "msbuild fails on multi-cpu machine when maxcpucount = 0 or > 1"
Trying to build Sitecore Habitat project (not that it matters, but just for reference)

When I try to run the msbuild gulp task it eventually fails. Gulp is being called by TeamCity via PowerShell runner. It's a simple "gulp".

It builds fine from CLI or Windows PowerShell (interactive) but fails when run in TeamCity.

I had found this issue before so I created a new gulpfile with maxcpucount = 1

[2017-04-12 19:00] hoffi commented on #54
Hm I cannot see any error in `gulp-msbuild` as MSBuild returned the error.
Looks like a problem with the machine or the project.

You could set `logCommand: true` and start the command yourself or turn on [diagnostic logging into a file](https://github.com/hoffi/gulp-msbuild#fileloggerparameters).

[2017-04-29 16:01] AArnott opened #55 "`toolsVersion: 15.0` fails to find msbuild, after looking in amd64 folder"
In a VS 2017 developer command prompt, I can't get gulp-MSBuild util to find MSBuild.exe. It's on my PATH, but evidently the gulp task doesn't leverage that. My path is:

C:\Program Files (x86)\Microsoft Visual Studio\Preview\Enterprise\\MSBuild\15.0\bin\MSBuild.exe

I know VS2017 provides a way to find this tool, even if it isn't on the PATH, ideally gulp-MSBuild would use that to find it rather

[2017-04-29 16:34] AArnott commented on #55
The tool for finding VS2017 properly is documented here:

https://blogs.msdn.microsoft.com/heaths/2017/04/21/vswhere-is-now-installed-with-visual-studio-2017/

[2017-04-29 16:36] AArnott commented on #55
It looks like this command would probably be what you want for a toolsversion:15 setting:

    "%ProgramFiles(x86)%\Microsoft Visual Studio\Installer\vswhere" -format json -latest -version "[15.0,16.0)"

Do you want me to send a PR?

[2017-05-03 06:27] hoffi commented on #55
Hey, feel free to submit a PR. The current logic could still be kept as fallback.

[2017-05-04 14:35] AArnott opened #56 "Error: no writecb in Transform class"
After upgrading from 0.2.20 to 0.4.7, my gulp script crashes with an unhandled exception:

[code]

This is my gulp task:

[code]

[2017-05-04 14:36] AArnott commented on #56
A bit of sleuthing on the internet suggests this error occurs when `cb` (or `callback`) is invoked more than once.

[2017-05-04 14:51] AArnott commented on #56
The first time the callback is invoked when [your error handler invokes your private callback](https://github.com/hoffi/gulp-msbuild/blob/a549abc15849266756de03e0f144c17e67a60101/lib/msbuild-runner.js#L33) which in turn
[fires the callback](https://github.com/hoffi/gulp-msbuild/blob/a549abc15849266756de03e0f144c17e67a60101/index.js#L47).

Then your [close handler](https://github.com/hoffi/gulp-msb

[2017-05-04 16:19] hoffi commented on #56
Yes, this indeed looks like an error. I assumed here that the "close" event will not trigger, when there was an "error" event, but the [nodejs docs](https://nodejs.org/api/child_process.html#child_process_event_error) say, that this is not always the case.

[2017-05-06 08:16] Niksko commented on #46
I've successfully implemented a wrapper around `gulp-msbuild` that implements this functionality. I'd like to submit a pull request to add this functionality, but I'd like some input from @hoffi around the behaviour and options we add.

I propose we add a few options:

`emitPublishedFiles`

`publishDirectory`

The only other question would be, what validation do we do? I propose we throw an error

[2017-05-08 09:05] hoffi commented on #46
Looks good to me, but i would not validate on the targets. I think that would be to restricitive if someone uses a custom target for this.
Is it possible that `emitPublishedFiles` does not emit anything in that case?

[2017-06-15 21:00] Bitfiddler commented on #53
I have the same issue.  I have 2013, 2015 and 2017 installed.  The msbuild does not detect 2017 and uses 2015.  Just for fun I uninstalled 2015, now it falls back to 2013.  2017 is simply not detected and I have both paths: C:/Program Files (x86)/Microsoft Visual Studio/2017/BuildTools and C:/Program Files (x86)/Microsoft Visual Studio/2017/Professional existing on my drive.

[2017-06-20 18:06] hoffi commented on #53
Hi @Bitfiddler, this is strange, do you run any other gulp tasks before?
`gulp-msbuild` does not use any tool for the msbuild autodetection and the message you got is nowhere in the code, so I would assume this comes from any other task of your `gulpfile`.

The `msbuild` process itself would only be started between line 4 and 5.

[2017-06-20 19:57] Bitfiddler commented on #53
Hi @hoffi , I am still fairly new to building with gulp/npm/jspm with visual studio and msbuild so I can't say for certain what's going on (I'm using a scaffold project combined from Aurelia and ServiceStack) but I did a text search for anything referencing/using msbuild and the only results were from the gulp task that runs gulp-msbuild and from the plugin itself and the visual studio project fil

[2017-06-20 20:12] Bitfiddler commented on #53
Aha! perhaps I have found the culprit: gulp-nuget-restore
This does run before my msbuild task and apparently it also uses msbuild.  I am in the process of figuring out if/how this can be fixed so as not to cause confusion in the future, but I think this line of thinking is a good bet.

[2017-06-20 20:26] Bitfiddler commented on #53
Yep, it was gulp-nuget-restore that was the issue.  It is using it's own copy of nuget version 3.4.4 which is pre-VS2017 so it does not detect it.  I will post there.  Thanks for your time and attention @hoffi, perhaps we leave this discussion here for others in case they run into this.

[2017-06-20 20:43] hoffi commented on #53
No problem :)

[2017-06-22 18:56] #56 closed

[2017-06-22 19:02] #46 closed

[2017-06-22 19:51] AArnott commented on #56
Thanks!

[2017-06-23 12:47] dev-rowbot opened #59 "Gulp stream does not return if there are no errors and emitPublishedFiles: false"
The addition of the "emitPublishedFiles" option has broken our gulp pipeline.

gulp-msbuild is called as follows:
[code]

The gulp output shows:
[code]

This is due to change #57 - since `emitPublishedFiles` is `false` by default, the execution never reaches `return callback()`.

We can work around this by forcing `return callback()` to always be called or by setting `emitPublishedFiles` to `true`

[2017-06-24 08:38] #59 closed

[2017-06-24 08:38] hoffi commented on #59
Thanks, I have added the missing callback when `emitPublishedFiles` is `false` in version 0.5.1

[2017-07-27 19:30] hoffi commented on #55
Fixed with #60

[2017-07-27 19:30] #55 closed

[2017-09-25 13:31] petusco opened #61 "Fails to locate correct MSBuild when building database project using SSDT for VS 2017"
My team is migrating to gulp and we are trying to build database project on our build agent using SSDT tools for visual studio 2017. The agent is clean (no vs), only build tools and SSDT tools are installed:

- [Build Tools for Visual Studio 2017](https://www.visualstudio.com/downloads/#build-tools-for-visual-studio-2017)
- [SSDT for Visual Studio 2017](https://docs.microsoft.com/en-us/sql/ssdt/do

[2017-09-25 16:31] hoffi commented on #61
Hi,

`gulp-msbuild` also uses vswhere first and only falls back to the `possibleFolders` if it doesn't find anything. ([See here](https://github.com/hoffi/gulp-msbuild/blob/master/lib/msbuild-finder.js#L11) and [here](https://github.com/hoffi/gulp-msbuild/blob/master/lib/msbuild-finder.js#L48)).

I've looked into grunt-msbuild and found that they are calling vswhere with some parameters.

Could yo

[2017-09-26 10:52] GabrielMancik commented on #61
Hi,

output:

- %ProgramFiles(x86)%\Microsoft Visual Studio\Installer\vswhere.exe

- %ProgramFiles(x86)%\Microsoft Visual Studio\Installer\vswhere.exe -latest -products * -requires Microsoft.Component.MSBuild

[2017-09-26 11:17] hoffi commented on #61
Huh, thanks!
I will add these parameters 👍

[2017-09-26 17:21] #61 closed

[2017-09-26 17:22] hoffi commented on #61
Hi, i have published a new version with this fix.

[2017-10-03 16:04] redwards1966 opened #62 "Build fails on Mac when Visual Studio for Mac installed"
After some time away from my Xamarin project, I had to upgrade to Visual Studio for Mac from Xamarin Studio after Microsoft purchased Xamarin. I can do a normal build in VS Mac for my Android project but when I do it through the gulp task I'm getting a null object reference on the build. If I do a command line build using msbuild the project builds fine but the gulp task is using xbuild still and

[2017-10-03 18:20] redwards1966 commented on #62
I was looking in the code and was able to change the reference to xbuild for non-windows environments temporarily to msbuild and get a proper build going.
On my Mac I'm getting the following for xbuild and msbuild references:

/Library/Frameworks/Mono.framework/Versions/Current/Commands/msbuild
RICHARD-MACMINI:~ Richard$ which xbuild
/Library/Frameworks/Mono.framework/Versions/Current/Commands/xbu

[2017-10-07 09:06] hoffi commented on #62
Yeah I will change the detection to use msbuild when it is available. Thanks for reporting

[2017-10-07 12:44] redwards1966 commented on #62
Thanks, I can try and do a pull request if you want. Seems pretty simple fix and I've never done one on an OS project before.

[2017-10-07 13:18] hoffi commented on #62
Of course, feel free :)

[2017-10-09 18:42] #62 closed

[2017-11-02 13:07] baum197 opened #64 "msBuildFromWhere Returns Path to TestAgent if Visual Studio Test Agent product is installed"
In gulp-msbuild v0.5.4, if Visual Studio Test Agent 2017 is installed on a system, msBuildFromWhere returns the incorrect path of "c:\program files (x86)\Microsoft Visual Studio\2017\TestAgent".  This is occurs b/c the 'requires' command line switch (msbuild-finder.js ln: 14) should be '-requires' instead of 'requires'

[2018-02-13 23:56] mumford opened #65 "AMD64 MSBuild tools can cause build problems with UWP apps"
I've run into an issue trying to build UWP apps with `gulp-msbuild 0.5.4`. When attempting to build build a UWP app on an `x64` system I receive the following build error.

This was reproducible via the command line using the same command that is constructed by the code.

`C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\amd64\MSBuild.exe C:\Projects\test-uwp-app\src

[2018-05-06 11:05] hoffi commented on #64
Thank you, it is fixed in Version 0.5.5

[2018-05-06 11:05] #64 closed

[2018-05-11 15:06] aschulz01 opened #68 ""end" event no longer emitted"
Hi,
using v0.3.3 the end event is properly emitted after msbuild ended.
In the latest version the end event seems no longer working, also if the needed flag (emitEndEvent) in the options is set to true.

 gulp.task('vsbuild:pilot', () => {
            gulp.src("./package/" + projectSettings.addinName + "Pilot/*.csproj")
                .pipe(msbuild({
                    targets: ['Package'],

[2018-05-11 20:12] bruno-cadorette opened #69 "gulp msbuild isn't considering the preview release of visual studio"
I added `logCommand: true` to my msbuild gulp call and I saw that the command was Using MSBuild command: C:\Program Files (x86)\MSBuild\14.0\Bin\amd64\MSBuild.exe mysln.sln /target:Build /verbosity:minimal /toolsversion:14.0 /nologo /maxcpucount /property:Configuration=Debug

However, I have the preview release of visual studio 2017 installed and it still used an old version of msbuild

[2018-06-27 21:52] eric-914 opened #70 "emitPublishedFiles undefined in the documentation"
Is this an "undocumented feature"?  Found it while looking in msbuild-command-builder.js, along with others:

deployDefaultTarget, webPublishMethod, deleteExistingFiles, findDependencies, publishDirectory

I wrote up this issue mostly because I can't find any documentation on "_FindDependencies".

I see they all get applied as "/property:...", so probably something you might've added for your own

[2018-07-03 15:01] eric-914 opened #71 "Please make "targets" optional"
I've just discovered that these two options are incompatible with each other:

`%msbuild% /t:Publish /p:DeployOnBuild=true`
==> _There is a circular dependency in the target dependency graph involving target "Publish"_

This works:
`%msbuild% /t:Publish`

And this works:
`%msbuild% /p:DeployOnBuild=true /p:PublishProfile=MyProfile.pubxml`

Notice that the /target option isn't part of this.  But ms

[2018-07-09 16:07] eric-914 opened #72 "gulp has blacklisted gulp-msbuild"
I really don't know why this was done, but it's explicitly in their source code of blacklisted items.
https://github.com/gulpjs/plugins/blob/master/src/blackList.json

If you run gulp --verify, it will display the following:

Verifying plugins in package.json
Blacklisted plugins found in this project:
gulp-msbuild: not a gulp plugin

(Gulp 4.0.0, Gulp-CLI 2.0.1)

[2018-09-17 00:27] dude0001 commented on #53
@Bitfiddler did you get this resolved with gulp-nuget-restore?

[2018-09-17 16:50] hoffi commented on #72
I think it is because of this reason [described here](https://github.com/gulpjs/plugins#blacklisting):

Because the [Gulp Guidelines](https://github.com/gulpjs/gulp/blob/v3.9.1/docs/writing-a-plugin/guidelines.md) say:

Which i would say applies here. As it only wraps the msbuild command line tool.
So i think this cannot be fixed.

[2018-09-17 16:50] #72 closed

[2018-10-01 21:50] Nanstop opened #73 "dll cannot be copied because it is used by another process"
This is definitely not a new issue but lately the success rate of running a gulp task to build my app is lower than 10% (same rate when build on server). Every time we see different dll(s) is/are having this issue. Please help and none of the suggestion on stackoverflow seems to help.

My app is a website built in c# asp.net MVC using VS2017, I have 30~ish projects under the solution and each time

[2019-04-04 09:40] bluntspoon opened #74 "MS Build in VS2019 folder not supported"
I have VS2019 installed and the MSBuild cannot be found due to the new folder path.

[2019-04-04 09:48] Temaska commented on #74
Same here.

As a workaround, I've installed BuildTools for VS2017(as VS2019 Build Tools as well has changed directories) and copied installed folder to 2019:
c:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools >> c:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools

[2019-06-11 13:11] tom-van-acker opened #75 "Better way to find msbuild"
https://github.com/hoffi/gulp-msbuild/blob/f1c78e79d1751a077c336529f3bbccc8509d5f2b/lib/msbuild-finder.js#L14

A better approach to finding the msbuild executable are these options voor vswhere.exe:
['-latest',  'requires', 'Microsoft.Component.MSBuild', '-find', 'MSBuild\**\Bin\MSBuild.exe'].

[2019-06-24 12:04] fluffynuts commented on #72
Just adding my 2c here, because, well, FRUSTRATION:

I've used gulp as a task orchestrator, specifically around build, most specifically around .net build, test, packaging, deployment, but also for js-based stuff.

If the reasons outlined above are why `gulp-msbuild` is blacklisted, then that's (imo) rather short-sighted. Actually, I have some more choice words I could use to describe the decision

[2019-06-24 17:35] hoffi commented on #72
Hey @fluffynuts,

yes i can understand your points, as these are the reasons i created this plugin.
For the [blacklisting reason](https://github.com/gulpjs/plugins/commit/77fecf805a5b61f007755df2837fa4f902fad0fa#diff-5692e874e39661c669640f2514f3391fR223): I do think that this plugin does not follow the gulp guidelines. However i don't really understand why these Guidelines are the way they are.
Ye

[2019-07-02 15:27] fluffynuts commented on #72
@hoffi 	apologies for the delay in getting back to you. I most certainly will fork and update for vs2019 (since that's something which is pervading more and more in my environment, and I can't just keep on uninstalling it ^_^). I'll get back to you when there's reasonable fixes so you can review and decide if you still want to pass the torch (:

[2019-07-02 19:18] hoffi commented on #72
Yeah no problem :)

[2019-08-06 09:12] Venipa opened #77 "Msbuild does not build after error"
Msbuild does not build after error (code 1)